/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$footer-background-color: #121214 !default; /* footer */
$background-color: #1a1a1e !default; /* 배경 색상 */
$code-background-color: #2d2c31 !default; /* inline 코드 색상 */

$text-color: #c0c0c1 !default; /* 텍스트 색상 */
$border-color: #2e2e33 !default; /* 테두리 색상 */ 

$primary-color: #0b89ff !default; /* 주 포인트 색상 */
$link-color: #26beff !default; /* 링크 색상 */
$link-color-hover: #96dcff !default; /* 링크에 마우스 올렸을때 색상 */
$link-color-visited: #0b89ff !default; /* 방문한 링크 색상 */

$code-background-color-dark: #ff00bf !default;
$form-background-color: #ff00bf !default;

$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;
.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

/* dirt syntax highlighting (base16) */
$base00: $code-background-color !default; /* 코드블럭 색상 /


/* next/previous buttons  primary */
.pagination--pager {
  color: #ff00bf;
  background-color: $code-background-color;
  border-color: transparent;

  &:visited {
    color: #d2d2d2;
  }
}

/* button for plater */
$red-color: #ff3838 !default;
$yellow-color: #ffce39 !default;
$green-color: #38ff38 !default;

$shaman-color: #0665c3 !default;
$cyan-color: #06e0de !default;
$magenta-color: #e004e0 !default;
$hotpink-color: #e160a0 !default;
$monk-color: #06e087 !default;

$q1-color: #ff9c06 !default;
$q2-color: #ff6a06 !default;
/* button for plater */