/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #282b30 !default; /* BG */
$text-color: #eaeaea !default;
$primary-color: #7289da !default; /* 주 */
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: #36393e !default;
$code-background-color-dark: mix(#000, $background-color) !default;
$form-background-color: #424549 !default;
$footer-background-color: #1e2124 !default; /* footer */
$link-color: mix($primary-color, $text-color, 40%) !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
