/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  font-family: $sans-serif;
  font-size: $type-size-6;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-width: 0;
  border-radius: $border-radius;
  cursor: pointer;

  .icon {
    margin-inline-end: 0.5em;
  }

  .icon + .hidden {
    margin-inline-start: -0.5em; /* override for hidden text*/
  }

  /* button colors */
  $buttoncolors:
  (primary, $primary-color),
  (inverse, #fff),
  (light-outline, transparent),
  (success, $success-color),
  (warning, $warning-color),
  (danger, $danger-color),
  (info, $info-color),
  /* brands */
  (bluesky, $bluesky-color),
  (facebook, $facebook-color),
  (linkedin, $linkedin-color),
  (mastodon, $mastodon-color),
  (twitter, $twitter-color),
  (x, $x-color),
   /* button for plater */  
  (lastfm, $lastfm-color),
  (rss, $rss-color),
  (behance, $behance-color),
  (vimeo, $vimeo-color),
  (flickr, $flickr-color),
  (dribbble, $dribbble-color),
  (vine, $vine-color),
  (stackoverflow, $stackoverflow-color),
  (soundcloud, $soundcloud-color),
  
  (castNormal, $castNormal-color),
  (castChannel, $castChannel-color),
  (castImportant, $castImportant-color),
  (castCanInterrupt, $castCanInterrupt-color),
  (castCannotInterrupt, $castCannotInterrupt-color),
  (castInterrupt, $castInterrupt-color),
  (castSuccess, $castSuccess-color),

  (miniboss, $miniboss-color);
   /* button for plater */  

  @each $buttoncolor, $color in $buttoncolors {
    &--#{$buttoncolor} {
      @include yiq-contrasted($color);
      @if ($buttoncolor == inverse) {
        border: 1px solid $border-color;
      }
      @if ($buttoncolor == light-outline) {
        border: 1px solid #fff;
      }

      &:visited {
        @include yiq-contrasted($color);
      }

      &:hover {
        @include yiq-contrasted(mix(#ffffff, $color, 20%));  /* 마우스 올렸을 때 */
      }
    }
  }

  /* fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* disabled */
  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

  /* extra large button */
  &--x-large {
    font-size: $type-size-4;
  }

  /* large button */
  &--large {
    font-size: $type-size-5;
  }

  /* small button */
  &--small {
    font-size: $type-size-7;
  }
}
